# Ignore everything
*

# Inlcude this files
!README.md
!.gitmodules
!.gitignore

!images
!images/**/*

!neofetch
!neofetch/**/*

!powershell
!powershell/**/*

!powertoys
!powertoys/**/*

!windows_terminal
!windows_terminal/**/*

!alacritty
!alacritty/**/*

!rofi
!rofi/**/*

!suckless
!suckless/**/*

!.zshrc
